<div class="d-flex justify-content-around p-lg-5">
  <div class="section-one justify-content-around">
    <h3> Grow your traffic </h3>
    <p> Lorem Ipsum is simply dummy <br>text of the printing and typesetting<br> </p>
  </div>
  <div class=" section-two">
    <h3> Get quality leads </h3>
    <p> Lorem Ipsum is simply dummy <br>text of the printing and typesetting<br> </p>
  </div>
  <div class="section-tree">
    <h3> Drive more sales </h3>
    <p> Lorem Ipsum is simply dummy <br>text of the printing and typesetting<br> </p>
  </div>
</div>
<br><br>