<!-- Header section -->
<section>
  <div class=" home">
    <div class="cover-home">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="titel">
              Get busiess solution with Noren.
              <div class="description">
                <p>Power your business to new heights with our award-winning digital marketing services and technology
                  platform.</p>
              </div>
              <div>
                <button class="btn btn-round btn-default ">Get Started</button>
              </div>

            </div>

          </div>
          <div class="col-md-6 bg-img">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-cover d-flex justify-content-around pt-3">
  <img src="../../assets/img/Bitmap.jpg">
  <img src="../../assets/img/Bitmap2.jpg">
  <img src="../../assets/img/Bitmap3.jpg">
  <img src="../../assets/img/Bitmap4.jpg">
  <img src="../../assets/img/Bitmap5.jpg">
</div>
<app-services-section></app-services-section>
<!-- End Header section  -->