<!-- Header section -->
<section>
  <div class=" home">
    <div class="cover-home">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="titel">
              Get busiess solution with Noren.
              <div class="description">
                <p>Power your business to new heights with our award-winning digital marketing services and technology
                  platform.</p>
              </div>
              <div>
                <button class="btn btn-round btn-default ">Get Started</button>
              </div>

            </div>

          </div>
          <div class="col-md-6 bg-img">

          </div>
        </div>
      </div>
      <br><br><br><br><br>
    </div>
  </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<!-- End Header section  -->