<div class="container business-section">
  <div class="d-flex justify-content-end">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7">
        <h1>We take care of <br>your business</h1>
        <p>Power your business to new heights with our award-winning digital marketing services and technology platform.
        </p>
        <ol>
          <li class="one">
            <p>Power your business to new heights with our award-winning</p>
          </li>
          <li class="two">
            <p>Our award-winning digital marketing services and technology platform.</p>
          </li>
          <li class="tree">
            <p>Business to new heights with our award-winning digital marketing.</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br>
</div>