<div class="container subscribe-section">
  <div class="d-flex justify-content-start">
    <img src="../../../assets/img/Subscribe.jpg" alt="Subscribe">
    <div class="titel">
      <h1>Get the pest project estimation</h1>
      <form class="pt-5">
        <div class="form-group d-flex justify-content-around">
          <input class="form-control" type="text" placeholder="Enter your email" />
          <button class="btn-round btn-default ">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>