<!-- nav-bar -->
<nav>
  <div class="container navbar nav navbar-fixed" id="navbar-nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header" id="nav-title">
      <div class="nav-title">
        <img class="logo" src="../../assets/img/logo-removebg-preview.png">
        Noren.
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links" id="nav-title">
      <a href="#">Home</a>
      <a href="#">Service</a>
      <a href="#">Team</a>
      <a href="#">Blog</a>
      <a href="#">Contact</a>
    </div>
  </div>
</nav>
<!-- End of nav-bar -->